

<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{#
<script src="{{ base_url() }}/js/bootstrap.min.js"></script>
#}
</body>
</html>