{% extends 'templates/app.twig' %}
{% block content %}
    <div class="row">
        <div class="col s12 l12 m12 center-align">
            <h2 class="white-text"><i class="icon-fire"></i> <br /> Smart Stats</h2>
            <p>In a new way, more better than you think!</p>
        </div>
    </div>

    <hr class="highlight">

    <div class="row body-content">
        <div class="col s12 m12 l12">
            <h3>Features</h3>
        </div>
    </div>

    <div class="row" style="padding-top: 20px;">
        <div class="col s16 m6 l6 left-align">
            <h4><i class="icon-clock"></i> <br></h4>
            <p>Best status reporter, it shows realtime status of the server instead of the cached one. Every results are generated at the time of page load</p>
        </div>
        <div class="col s16 m6 l6">
            <img src="http://localhost/image/screenshot_1.png" alt="Screenshot 1" class="responsive-img">
        </div>
    </div>

    <div class="row" style="padding-top: 20px;">
        <div class="col s16 m6 l6">
            <img src="http://localhost/image/screenshot_2.png" alt="Screenshot 2" class="responsive-img">
        </div>
        <div class="col s16 m6 l6 right-align">
            <h4><i class="icon-screen-desktop"></i></h4>
            <p>Perfectly designed and crafted with love all by hand in India. Everything, just for you</p>
        </div>
    </div>

    <div class="row" style="padding-top: 20px; padding-bottom: 30px">
        <div class="col s16 m6 l6">
            <h4><i class="icon-rocket"></i></h4>
            <p>Everthing is rocket speed. Every nuke and corner is designed for speed. The website itself loads at just 1.56 seconds</p>
        </div>
        <div class="col s16 m6 l6">
            <img src="http://localhost/image/screenshot_3.png" alt="Screenshot 3" class="responsive-img">
        </div>
    </div>
{% endblock %}