<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Redirecting....</title>
        <script>
            window.location.href = {{ base_url() }}'/user/home';
        </script>
    </head>
    <body>
        <h1>Redirecting you....</h1>
    </body>
</html>