            </div>
        </main>
        <footer class="page-footer blue">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Smart Stats</h5>
                        <p class="grey-text text-lighten-4">A part of Team Lightning. An awesome creation by xXAlphaManXx</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://github.com/TeamLightning">GitHub</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://teamlightning.xyz/">Team Lightning</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://twitter.com/@xXAlphaManXx">Twitter</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://fb.com/TeamLightningOff">FaceBook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
            <script>
                $( document ).ready(function(){
                    $(".button-collapse").sideNav();
                });
            </script>
        </body>
</html>