<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slimex | The modern framework</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            background-color: #eeeeee !important;
        }

        .blue {
            background-color: #00adb5 !important;
        }

        .black {
            background-color: #393e46 !important;
        }

        .grey {
            color: #eeeeee !important;
        }

        main {
            flex: 1 0 auto;
        }
    </style>
</head>
<body>
    <nav>
        <div class="nav-wrapper blue">
            <div class="container">
                <a href="#" class="brand-logo">Smart Stats</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="https://smarthacks.github.io/slimex">DOCUMENTATION</a></li>
                    <li><a href="https://forum.smarthacksinc.com">COMMUNITY</a></li>
                    <li><a href="https://github.com/smarthack/slimex">GITHUB</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">