<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="body bg-cyan">
                <div class="m-b--35 font-bold"><h4>Overall status</h4></div>
                <ul class="dashboard-stat-list">
                    <li>Total server downs <span class="pull-right">23</span></li>
                    <li>Total servers <span class="pull-right">12</span></li>
                    <li>Used slots <span class="pull-right">12</span></li>
                    <li>Available slots <span class="pull-right">3</span></li>
                    <li>Maximum slots <span class="pull-right">15</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="body bg-pink">
                <div class="m-b--35 font-bold"><h4>Account overview</h4></div>
                <ul class="dashboard-stat-list">
                    <li>Account type <span class="pull-right">Platinum</span></li>
                    <li>Expire date <span class="pull-right">01 September 2017</span></li>
                    <li>Amount paid <span class="pull-right">$15</span></li>
                    <li>Account created <span class="pull-right">01 September 2016</span></li>
                    <li>Last login <span class="pull-right">23 August 2017</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>