{% extends 'user/templates/app.twig' %}

{% block content %}
    <div class="block-header">
        <h2>DASHBOARD</h2>
    </div>

    <!-- Widgets -->
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header bg-green">
                    <h3>Server deleted successfully</h3>
                </div>
                <div class="body">
                    <ul>
                        <li>Server ID : 5</li>
                        <li>Server name : SMART CLASH | NO ROOT | LATEST 9.105</li>
                        <li>Deleted on : 15th AUG 2017 13:41:34</li>
                    </ul>
                    <p>Deleted the server unknowingly? Restore the server by clicking <a href="">here</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}