{% extends 'user/templates/app.twig' %}
{% block content %}
<div class="block-header">
    <h2>DASHBOARD</h2>
</div>

<!-- Widgets -->
<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-pink hover-expand-effect">
            <div class="icon">
                <i class="material-icons">playlist_add_check</i>
            </div>
            <div class="content">
                <div class="text">Max slots</div>
                <div class="number count-to" data-from="0" data-to="15"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan hover-expand-effect">
            <div class="icon">
                <i class="material-icons">help</i>
            </div>
            <div class="content">
                <div class="text">Total Server</div>
                <div class="number count-to" data-from="0" data-to="12"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-light-green hover-expand-effect">
            <div class="icon">
                <i class="material-icons">forum</i>
            </div>
            <div class="content">
                <div class="text">Shutdowns</div>
                <div class="number count-to" data-from="0" data-to="23"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-orange hover-expand-effect">
            <div class="icon">
                <i class="material-icons">person_add</i>
            </div>
            <div class="content">
                <div class="text">Available slots</div>
                <div class="number count-to" data-from="0" data-to="3"></div>
            </div>
        </div>
    </div>
</div>
{% include 'user/card1.twig' %}
{% include 'user/onlineServer.twig' %}
{% include 'user/offlineServer.twig' %}
{% include 'user/addServer.twig' %}
<div class="row clearfix">
    <!-- Task Info -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <h2>CHANGELOG</h2>
            </div>
            <div class="body">
                <h3>V 1.0</h3>
                <ul>
                    <li>kjbsdkjsv</li>
                    <li>sbvsbfsd</li>
                    <li>kjbsdkjdfbkdj</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #END# Task Info -->
</div>
{% endblock %}