{% extends 'user/templates/app.twig' %}

{% block content %}
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header bg-teal">
                    <h3>Deleted Servers</h3>
                </div>
                <div class="body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>SMART CLASH | SERVER ONE | NO MOD</td>
                            <td><a href=""><i class="material-icons" style="color: red">delete</i></a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>A SERVER WITH A VERY LONG TEXT TO TEST THE RESPONSIVENESS OF THE TABLE</td>
                            <td><a href=""><i class="material-icons" style="color: red">delete</i></a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>MY ANOTHER COMPETITOR WHO IS WASTE AS MUCH AS A UE in Queue</td>
                            <td><a href=""><i class="material-icons" style="color: red">delete</i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}