{% extends 'templates/app.twig' %}

{% block content %}
    <div class="card black grey" style="margin-top: 45px;">
        <div class="card-content">
            <span class="card-title">Email Verification</span>
            {{ message }}
        </div>
    </div>
{% endblock %}